@import "./variables";
@import "./recetas";
@import "./sobrenosotros";
@import "./responsive";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("https://img.freepik.com/free-photo/gold-brush-stroke-texture-background-illustration_53876-157380.jpg?w=1480");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}